 .first-section{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .mid-content{
    position: relative; 
    background-color: #edecec; 
    padding-top: 8%;
    padding-bottom: 8%;
}

.intro-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: 100;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white;
}

.ab{
    background-color: white;
    position: absolute;
    left: 60%;
    top: 30%;
    padding: 5%;
}
.fs-img{
    width: fit-content;
}

.fs-heading{
    font-size:35px;
    color:gray
}

#img2{
    width:100%;
    height:700px
}

#h5{
    font-size: 80px;
    margin-left: -100px;
}

.bt-sect{
    position: absolute;
    top: 30%;
    left: 40%; 
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#exp-btn{
    padding: 4%;
    background-color: transparent;
    padding: 8%;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    border-color: #FFFFFF;
}

.mid-exp-btn{
    padding: 4%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.mid-ct-text{
    color: rgb(155, 154, 154);
    line-height: 30px;
}



@media screen and (max-width:600px) {
    .ab{
        left: 1%;
        top: 25%;
        padding: 2%;
    }
    #im{
        width: 100%;
    }
    .mid-content{
        padding-bottom: 40%;
    }
    #img2{
        width:200%;
    }
    .hName{
        margin-left: -60px;
    }
    .mainVideo{
        margin-left: 0%;
    }
    .fs-img{
        width: 50%;
    }
    #h2{
        font-size: 20px;
        margin-left: -7px;
    }
    .bt-sect{
        top: 10%;
        left: 40%;
    }
    
}

@media screen and (max-width:500px) {
    .ab{
        left: 4%;
        top: 30%;
        padding: 5%;
    }
    #im{
        width: 100%;
    }
    .mid-content{
        padding-bottom: 80%;
    }
    
    
}
