body{
    background-color: black;
}

.main{
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.main img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.overlay-label {
    position: absolute;
    top: 200px; 
    left: 150px;
    padding: 5px 10px; 
    font-size: 70px; 
    font-weight: 100; 
    color: white; 
}

.imgs-section{
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 200px;
}

.img-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-text h1{
    color: white;
    font-size: 30px;
    position: relative;
    /* left: 200px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 100;
}

.imgs-section img{
    width: 510px;
}

.foot-lbl{
    color: rgb(188, 188, 187);
    font-size: small;
}

.foot-links{
    color: white;
}

#outpost{
    margin-top: 100px;
}

#phone-no{
    text-decoration: none;
    color: white;
}

.imgs{
    margin-bottom: 30px;
}