* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.mainDiv {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.videoDiv {
  position: relative;
  height: 100%;
  width: 100%;
}

#myvideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.navElements {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: flex-end;
  margin-top: 50px;
  width: 90%;
  padding: 10px 0;
  z-index: 1; 
}

nav {
  display: flex;
  gap: 50px;
  position: absolute;
  left: 40%;
}

nav span a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

nav span a:hover {
  text-decoration: underline;
}

.burger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-left: 25px;
}

.videoTitle {
  position: absolute;
  top: 40%;
  left:25%;
  color: white;
}

.videoTitle label {
  font-size: 100px;
  /* font-weight: 100; */
  font-family: "Times New Roman", Times, serif;
  line-height: 60px;
  word-spacing: 10px;
}

div .logo {
  display: flex;
  position: absolute;
  left: 0;
  align-items: center;
}

div .logo a {
  color: white;
  text-decoration: none;
}

div .logo img {
  height: 40px;
}

#firstline {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 200;
}

#secondline {
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: 200;
}

.logotext {
  margin-left: 10px;
}

.explore {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 70%;
  left: 10%;
  color: white;
  width: 80%;
}

#placeName {
  font-size: 20px;
}

#scroll {
  color: rgba(255, 255, 255, 0.5);
}

.arrowButton {
  margin: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .arrowButton img {
  height: 35%;
  width: 35%;
  object-fit: contain;
}

.content {
  display: flex;
  margin-bottom: 10%;
  margin-top: 10%;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  width: 45%;
  height: 800px;
}

div .welcomeDiv h3 {
  font-size: 60px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}

div .welcomeDiv p {
  font-size: 17px;
  line-height: 30px;
  color: rgba(black, black, black, 0.3);
}

div .welcomeDiv #img1 {
  width: 60%;
  height: 100%;
  position: relative;
  left: 0;
  margin-top: 10%;
}

div .rightpart img {
  width: 90%;
  height: 600px;
}

.exploreNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

div .exploreNav h5 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

div .exploreButtons button {
  margin: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-container {
  width: 100%;
  margin-top:10% ;
}

.carousel-wrapper .carousel {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
}

.carousel img {
  width: 450px;
  height: 510px;
  flex-shrink: 0;
}

@keyframes moveCarousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      calc(-450px * 5)
    ); 
  }
}

.img-item {
  animation: moveCarousel 30s linear infinite;
  will-change: transform;
}

.discovery-land {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 15%;
}

.discovery-land h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 100;
}

.discovery-land p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(black, black, black, 0.5);
}

.globe-content {
  display: flex;
}

.globe-content img {
  width: 50%;
}


.globe-info{
  display: flex;
  position: relative;
  margin-top: 10%;
  height: 600px;
  width: 70%;
}

.info-left-part{
  height: 100%;
  width: 70%;
  background-color: black;
}

.info-right-part{
  height: 100%;
  width: 60%;

}

.info-right-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrowsNav{
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

.arrowsNav button{
  background-color: black;
  border: none;
  height: 60px;
  width: 60px;
}

.arr-imgs{
  width: 60px;
  height: 60px;
}

.weather-imgs{
  object-fit: cover;
}

.weather-div{
  height: 70px;
  width: 70px;
}

.place-info{
  display: flex;
  margin-top: 50px;
  margin-left:20px ;
}

.weather-place-name{
  color: white;
  margin-top: 40px;
  margin-left:20px
}

.weather-labels{
  color: rgb(191, 190, 190);
  font-size: 13px;
  font-weight: bold;
}

#loc-weather-div{
  display: flex;
  width: 100%;
  margin-left: 20px
}

#loc-img{
  width: 50px; 
  height: 50px; 
  margin: 0;
}

#img4-weather{
  width: 30%;
  height: 30%;
}


.image-cards{
  display: flex;
  width: 100%;
  height: 100vh;
}

.img-card{
  width: 50%;
}

.image-cards img{
     height: 100%;
     width: 100%;
}

.text-overlay {
position: relative;
bottom: 50%;
color: white;
font-size: 40px;
font-weight: 100;
font-family: 'Times New Roman', Times, serif;
text-align: center;
z-index: 1;
}

.imgdescButton{
  margin: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footer-div{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-color:rgb(23, 29, 26);
    color: white;
}

.foot-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
    height: 45vh;
}

.foot-div2{
    display: flex;
    flex-direction: column;
    margin:20px;
    height: 60vh;
}

.foot-div3{
    display: flex;
    flex-direction: column;
    height: 60vh;

}

.foot-div4{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    height: 60vh;
}

.foot-div3 a{
  color: white;
  text-decoration: none;
}

.foot-div4 a{
    color: white;
    text-decoration: none;
}


@media (max-width: 1024px) {
  .videoTitle label {
    font-size: 80px;
  }

  .explore {
    top: 75%;
    left: 5%;
  }

  .exploreNav h5 {
    font-size: 50px;
  }

  .welcomeDiv h3 {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .navElements {
    margin-top: 30px;
  }

  nav {
    gap: 20px;
  }

  .videoTitle label {
    font-size: 60px;
    line-height: 50px;
  }

  .welcomeDiv h3 {
    font-size: 40px;
  }

  .welcomeDiv #img1 {
    width: 80%;
  }

  .explore {
    top: 80%;
  }

  .exploreNav h5 {
    font-size: 40px;
  }

  .discovery-land h4 {
    font-size: 40px;
  }

  .discovery-land p {
    font-size: 16px;
  }

  .foot-div1{
    height: 20vh;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .navElements {
    flex-wrap: wrap;
    align-items: flex-start;
    
  }

  .nav-items{
    width: 50%;
  }

  nav {
    left: 10%;
  }

  .videoTitle label {
    font-size: 40px;
    line-height: 40px;
    left: 10%;
  }

  .welcomeDiv {
    width: 80%;
  }

  .welcomeDiv h3 {
    font-size: 30px;
  }

  .welcomeDiv #img1 {
    width: 100%;
  }

  .explore {
    top: 80%;
  }

  .arrowButton img{
    width: 20%;
  }

  .exploreNav h5 {
    font-size: 30px;
  }

  div .rightpart img{
    width: 80%;
    height: 300px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .discovery-land h4 {
    font-size: 30px;
  }

  .discovery-land p {
    font-size: 14px;
  }

  .foot-div1{
    height: 20vh;
    margin-bottom: 40px;
  }

  .content{
    flex-direction: column;
  }

  div .exploreNav h5 {
    font-size: 40px;
    line-height: 40px;
  }

  div .exploreNav{
    gap: 20%;
  }

  .exploreNav .navButtons{
    width: 60%;
    /* height: 50%; */
  }

  .carousel img{
    width: 300px;
    height: 410px;
  }

  #globe{
    display: none;
  }

  .globe-info{
    width: 100%;
    height: 440px;
    font-size: 0.5rem;
  }

  .place-info{
    margin-top: 0%;
  }

  .title-label{
    font-size: 25px;
  }

  div #loc-img{
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  #img4-weather{
    height: 70%;
    width: 70%;
  }

  .image-cards{
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  
  .img-card{
    width: 100%;
    height: 50%;
  }
  
  .image-cards img{
       height: 50vh;
       width: 100%;
       margin-bottom: 150px;
  }

  .text-overlay {
    /* position:relative; */
    /* bottom: 50%; */
    align-items: center;
    justify-content: center;
    margin-top: -300px;
  }

  .footer-div{
    padding: 10px;
  }

  .foot-div1{
    height: 20%;
    margin-top: 10%;
  }
}
